{
	# only errors no access logs
	log {
		level INFO
		output stderr
	}
}

{$SITE_ADDRESS} {
	encode

	# Global request size limit
	request_body {
		max_size 1MB
	}

	# pocketbase
	handle /_/* {
		reverse_proxy pocketbase:8080 {
			flush_interval 1s
			transport http {
				dial_timeout 10s
				read_timeout 600s
				response_header_timeout 600s
			}
		}
	}

	handle /api/* {
		reverse_proxy pocketbase:8080 {
			flush_interval 1s
			transport http {
				
				dial_timeout 10s
            			read_timeout  600s
            			response_header_timeout 600s
			}
		}
	}

	# ----------------------------
	# API: restrict by Germany IPs
	# ----------------------------
	@gen_api {
		path /v1/generation/*
		import /etc/caddy/germany_ips.caddy
	}
	handle @gen_api {
		reverse_proxy generation:8000 {
			transport http {
				read_timeout 50s
				response_header_timeout 50s
			}
		}
	}
	handle /v1/generation/* {
		respond "Forbidden" 403
	}

	@telemetry_api {
		path /v1/telemetry
		import /etc/caddy/germany_ips.caddy
	}
	handle @telemetry_api {
		reverse_proxy generation:8000 {
			transport http {
				read_timeout 5s
				response_header_timeout 5s
			}
		}
	}
	handle /v1/telemetry {
		respond "Forbidden" 403
	}

	# GUI generation
	handle /generation/* {
		reverse_proxy generation:8000 {
			transport http {
				read_timeout 50s
				response_header_timeout 50s
			}
		}
	}

	handle {
		root * /app/web-interface/build
		try_files {path} /index.html
		file_server
	}
}
