{$SITE_ADDRESS} {
	encode
	# pocketbase
	handle /_/* {
		reverse_proxy pocketbase:8080
	}

	handle /api/* {
		reverse_proxy pocketbase:8080
	}

	# API
	handle /v1/generation/* {
		reverse_proxy generation:8000 {
			transport http {
				read_timeout 60s
				response_header_timeout 60s
			}
    	}
	}

	handle /v1/telemetry {
    	reverse_proxy generation:8000
  	}

	# GUI generation
	handle /generation/* {
		reverse_proxy generation:8000
	}

	handle {
		root * /app/web-interface/build
		try_files {path} /index.html
		file_server
	}
}
